.navbar{
    background-color:#013764ea;
    padding: 0.5rem;
    width: 100vw;
    padding-left: 1rem;
    .navbar-h{
        color: rgb(5, 164, 250);
        font-size: 32px;
    }
    .navbar-sh{
        color: black;
        font-size: 16px;
        margin-top: -12px;
        margin-left: 50px;
    }
}